<h2 class= centered>Login information:</h2>

<form class= centered action="/verify_login">
  <input type="text" placeholder="email address" name="email">
  <input type="text" placeholder="password" name="password">
  
  <input type="submit">
  
</form>