<h2 class= centered>Please fill in the information to sign up:</h2>

<form class= centered action="/save_sign_up">
  <input type="text" placeholder="email address" name="email">
  <input type="text" placeholder="password" name="password">
  
  <input type="submit">
  
</form>